SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8080

POSTGRES_DB=stock_sim
POSTGRES_USER=stock_user
POSTGRES_PASSWORD=stock_password

DB_URL=jdbc:postgresql://localhost:5432/stock_sim
DB_USERNAME=stock_user
DB_PASSWORD=stock_password